/* Import partials */
.text-center {
  text-align: center; }

/* Box model */
.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

/* Flex */
.d-flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

/* Colours */
.brand-colour-bg.yellow {
  background-color: #F4D237; }
.brand-colour-bg.blue {
  background-color: #0096D7; }
.brand-colour-bg.red {
  background-color: #EC1D25; }

/* Font Imports */
@font-face {
  font-family: 'Catamaran-Bold';
  src: url("./web/public/assets/fonts/Catamaran-Bold.ttf") format("ttf"); }
@font-face {
  font-family: 'Catamaran-ExtraLight';
  src: url("./web/public/assets/fonts/Catamaran-ExtraLight.ttf") format("ttf"); }
@font-face {
  font-family: 'Catamaran-Medium';
  src: url("./web/public/assets/fonts/Catamaran-Medium.ttf") format("ttf"); }
@font-face {
  font-family: 'Catamaran-Regular';
  src: url("./web/public/assets/fonts/Catamaran-Regular.ttf") format("ttf"); }
@font-face {
  font-family: 'Catamaran-SemiBold';
  src: url("./web/public/assets/fonts/Catamaran-SemiBold.ttf") format("ttf"); }
/* Fonts */
.font-hero {
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 36px;
  line-height: 70px;
  color: #284578;
  letter-spacing: 1px; }
  @media screen and (min-width: 840px) {
    .font-hero {
      font-size: 48px; } }

.font-feature-bold {
  font-family: Catamaran-SemiBold, sans-serif;
  font-size: 36px;
  color: #545454; }

.font-feature-light {
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 36px;
  color: #545454; }

.font-h1 {
  font-family: Catamaran-SemiBold, sans-serif;
  font-size: 36px;
  line-height: 56px;
  color: #545454;
  letter-spacing: 0.75px; }

.font-h1-sub {
  font-family: Catamaran-Regular, sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #545454;
  letter-spacing: 0.42px; }

.font-h2 {
  font-family: Catamaran-Bold, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #545454;
  letter-spacing: 0.5px; }

.font-nav-link {
  font-family: Catamaran-Bold, sans-serif;
  font-size: 16px;
  color: #545454;
  text-transform: uppercase; }
  .font-nav-link:hover {
    color: #0096D7; }

.font-footer-link {
  font-family: Catamaran-Bold, sans-serif;
  font-size: 14px;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  line-height: 28px; }
  .font-footer-link:hover {
    color: #0096D7; }

.font-form {
  font-family: Catamaran-Regular, sans-serif;
  font-size: 15px;
  color: #545454; }

p {
  font-family: Catamaran-Regular, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #545454;
  letter-spacing: 0.38px; }

.brand-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 55px;
  font-family: Catamaran-Regular, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF; }
  .brand-btn:hover {
    color: #FFFFFF; }

.brand-btn--left {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/btn-bg-left.png"); }
  .brand-btn--left:hover {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/btn-bg-right.png"); }

.brand-btn--right {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/btn-bg-right.png"); }
  .brand-btn--right:hover {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/btn-bg-left.png"); }

.brand-btn--dark-blue {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/btn-bg-dark-blue.png"); }

.news__buttons {
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  font-family: Catamaran-Bold, sans-serif;
  font-size: 14px;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  line-height: 28px; }
  .news__buttons:hover, .news__buttons.active {
    color: #FFFFFF;
    background-color: #61AB46; }
  .news__buttons.filter__button {
    display: block;
    padding: 0.2rem 0.5rem 0;
    margin: 0 0.5rem 0.5rem 0; }
    .news__buttons.filter__button.active {
      background-color: #61AB46;
      color: #FFFFFF; }
    .news__buttons.filter__button:first-of-type {
      margin: 0 0.5rem 0.5rem 0; }
    .news__buttons.filter__button:last-of-type {
      margin: 0 0 0.5rem 0; }

.brand-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.brand-shape {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1; }

.brand-shape--blue {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/brandshape-blue.png");
  width: 110px;
  height: 180px; }
  @media screen and (min-width: 840px) {
    .brand-shape--blue {
      width: 143px;
      height: 238px; } }
  @media screen and (min-width: 1280px) {
    .brand-shape--blue {
      width: 217px;
      height: 361px; } }

.brand-shape--green {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/brandshape-green.png");
  width: 137px;
  height: 85px; }
  @media screen and (min-width: 840px) {
    .brand-shape--green {
      width: 181px;
      height: 111px; } }
  @media screen and (min-width: 1280px) {
    .brand-shape--green {
      width: 275px;
      height: 169px; } }

.brand-shape--yellow {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/brandshape-yellow.png");
  width: 100px;
  height: 182px; }
  @media screen and (min-width: 840px) {
    .brand-shape--yellow {
      width: 100px;
      height: 185px; } }
  @media screen and (min-width: 1280px) {
    .brand-shape--yellow {
      width: 201px;
      height: 367px; } }

.brand-shape--red {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/brandshape-red.png");
  width: 83px;
  height: 143px; }
  @media screen and (min-width: 840px) {
    .brand-shape--red {
      width: 83px;
      height: 155px; } }
  @media screen and (min-width: 1280px) {
    .brand-shape--red {
      width: 166px;
      height: 289px; } }

.brand-shape--footer {
  background-image: url("/Vena_DreamConfig/web/public/assets/images/brandshape-footer-blue.png");
  width: 200px;
  height: 220px; }
  @media screen and (min-width: 1280px) {
    .brand-shape--footer {
      width: 288px;
      height: 308px; } }

/* home hero */
.brand-shape--blue.brand-shape-hero-home {
  bottom: -25px;
  right: -50px; }
  @media screen and (min-width: 840px) {
    .brand-shape--blue.brand-shape-hero-home {
      bottom: -50px;
      right: 0; } }

.brand-shape--red.brand-shape-hero-home {
  bottom: 0;
  left: -25px; }
  @media screen and (min-width: 840px) {
    .brand-shape--red.brand-shape-hero-home {
      top: 40%;
      left: 0; } }

.brand-shape--yellow.brand-shape-hero-home {
  top: -100px;
  right: -25px; }
  @media screen and (min-width: 840px) {
    .brand-shape--yellow.brand-shape-hero-home {
      top: 10%;
      right: 0; } }

.brand-shape--green.brand-shape-hero-home {
  top: 0;
  left: -50px; }
  @media screen and (min-width: 840px) {
    .brand-shape--green.brand-shape-hero-home {
      top: 0;
      left: 30%; } }

/* home about section */
.brand-shape--red.brand-shape-about-home {
  top: 50%;
  left: -50px;
  display: none; }
  @media screen and (min-width: 840px) {
    .brand-shape--red.brand-shape-about-home {
      display: block; } }

.brand-shape--green.brand-shape-about-home {
  top: 33%;
  right: -55px;
  display: none;
  transform: rotate(90deg); }
  @media screen and (min-width: 840px) {
    .brand-shape--green.brand-shape-about-home {
      display: block; } }

/* home global reach section */
.brand-shape--green.brand-shape-globalreach-home {
  bottom: 0;
  left: -55px;
  display: none;
  transform: rotate(270deg); }
  @media screen and (min-width: 840px) {
    .brand-shape--green.brand-shape-globalreach-home {
      display: block; } }

/* home benefits section */
.brand-shape--red.brand-shape-benefits-home {
  bottom: 0;
  right: 0;
  display: none;
  transform: rotate(180deg);
  z-index: 1; }
  @media screen and (min-width: 840px) {
    .brand-shape--red.brand-shape-benefits-home {
      display: block; } }

.brand-shape--yellow.brand-shape-learnfromus-home {
  top: -35%;
  left: -50px;
  display: none;
  transform: rotate(180deg); }
  @media screen and (min-width: 840px) {
    .brand-shape--yellow.brand-shape-learnfromus-home {
      display: block; } }

/* Footer */
.brand-shape--footer.brand-shape-footer.left {
  top: 30%;
  left: -10%; }
  @media screen and (min-width: 840px) {
    .brand-shape--footer.brand-shape-footer.left {
      top: 30%;
      left: -10%; } }
.brand-shape--footer.brand-shape-footer.top-left {
  top: -50px;
  left: -75px; }
  @media screen and (min-width: 840px) {
    .brand-shape--footer.brand-shape-footer.top-left {
      top: -40%;
      left: 15%; } }
.brand-shape--footer.brand-shape-footer.top-right {
  top: -75px;
  right: 0;
  transform: rotate(145deg); }
  @media screen and (min-width: 840px) {
    .brand-shape--footer.brand-shape-footer.top-right {
      top: -30%;
      right: 5%; } }
.brand-shape--footer.brand-shape-footer.right {
  top: 20%;
  right: -10%; }
  @media screen and (min-width: 840px) {
    .brand-shape--footer.brand-shape-footer.right {
      top: 50%;
      right: -50px; } }

.nav-primary {
  background-color: #FFFFFF; }

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .navbar .navbar-brand img {
    max-height: 37px; }

.nav-links__link {
  padding: 1rem; }

#burgerMenu {
  border: 1px solid #545454;
  padding: 0.2rem 0.5rem;
  border-radius: 4px; }
  #burgerMenu:hover {
    background-color: #F4D237;
    cursor: pointer; }

.burger-menu__slice {
  width: 35px;
  height: 5px;
  background-color: #545454;
  margin: 6px 0; }

#mobileNav {
  background-color: #FFFFFF;
  padding: 1rem 0;
  display: none; }
  #mobileNav.show {
    display: block; }
  #mobileNav .nav-links__link--mobile {
    display: block;
    padding: 0.25rem 0 0.25rem 1rem; }

/* Defaults */
a, button {
  cursor: pointer; }

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: none; }

/* Main */
.section-margin {
  margin-top: 100px; }
  @media screen and (min-width: 840px) {
    .section-margin {
      margin-top: 200px; } }

.section-margin--half {
  margin-top: 100px; }

.section-heading {
  margin-bottom: 100px; }

.section-animation {
  opacity: 0; }

.animation.initial-opacity-0 {
  opacity: 0; }

.content-margin {
  margin-bottom: 100px; }
  @media screen and (min-width: 840px) {
    .content-margin {
      margin-bottom: 200px; } }

.hero {
  width: 100%;
  height: 100vh; }

.hero__content {
  text-align: center; }

.hero--home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero--home .brand-shapes {
    animation-name: hero-brandshapes-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
@keyframes hero-brandshapes-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.hero__content--home {
  opacity: 0;
  animation-name: hero-fade;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }
  .hero__content--home .brand-logo {
    margin-bottom: 50px; }
@keyframes hero-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
section.about {
  position: relative; }

.about__text-copy {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 840px) {
    .about__text-copy {
      display: block;
      text-align: left; } }

section.associated-companies {
  background-color: #F4D237;
  padding: 100px 0; }
  section.associated-companies h2 {
    color: #FFFFFF; }

.associated-companies__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.associated-companies__list--item {
  display: flex;
  align-items: center;
  justify-content: center; }
  .associated-companies__list--item img {
    margin-bottom: 2rem; }
    @media screen and (min-width: 840px) {
      .associated-companies__list--item img {
        margin-bottom: 0; } }

section.global-reach {
  position: relative; }

.global-reach__list--item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  height: 360px; }
  .global-reach__list--item h2 {
    font-family: Catamaran-Bold, sans-serif;
    font-size: 24px;
    color: #284578;
    letter-spacing: 0.5px;
    line-height: 28px; }
  .global-reach__list--item .location-contact {
    font-family: Catamaran-Bold, sans-serif;
    font-size: 18px;
    color: #545454;
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 28px; }
  .global-reach__list--item .contact-position {
    font-family: Catamaran-Regular, sans-serif;
    font-size: 14px;
    color: #545454;
    letter-spacing: 0.29px;
    text-align: center;
    line-height: 20px; }
@keyframes country-hover-ascending {
  from {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/countryCard_asc.png"); }
  to {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/countryCard_asc_hover.png"); } }
@keyframes country-hover-descending {
  from {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/countryCard_desc.png"); }
  to {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/countryCard_dec_hover.png"); } }
  .global-reach__list--item .card-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    .global-reach__list--item .card-image.new-zealand {
      background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/newzealand.png"); }
    .global-reach__list--item .card-image.australia {
      background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/australia.png"); }
    .global-reach__list--item .card-image.singapore {
      background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/singapore.png"); }
  .global-reach__list--item.ascending {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/countryCard_asc.png"); }
  .global-reach__list--item.descending {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/countryCard_desc.png"); }
  .global-reach__list--item:hover {
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
    .global-reach__list--item:hover h2,
    .global-reach__list--item:hover .font-h1-sub,
    .global-reach__list--item:hover .location-contact,
    .global-reach__list--item:hover .contact-position {
      color: #FFFFFF; }
    .global-reach__list--item:hover.ascending {
      animation-name: country-hover-ascending; }
    .global-reach__list--item:hover.descending {
      animation-name: country-hover-descending; }
    .global-reach__list--item:hover .card-image.new-zealand, .global-reach__list--item:hover .card-image.australia, .global-reach__list--item:hover .card-image.singapore {
      background-image: url("/Vena_DreamConfig/web/public/assets/images/countries/newzealand-contact.png"); }

section.technology-cta {
  background-color: #F7F7F7;
  padding: 100px 0; }

section.benefits {
  position: relative;
  z-index: 1; }

.benefits-grid--desktop .benefits-grid__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }
  .benefits-grid--desktop .benefits-grid__row.second {
    top: -100px; }
    .benefits-grid--desktop .benefits-grid__row.second .stock-image {
      position: relative;
      top: 50px; }
  .benefits-grid--desktop .benefits-grid__row.third {
    position: relative;
    top: -75px; }
  .benefits-grid--desktop .benefits-grid__row .brand-colour-bg {
    width: 500px;
    height: 500px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center; }
    .benefits-grid--desktop .benefits-grid__row .brand-colour-bg h3 {
      max-width: 50%;
      font-family: Catamaran-ExtraLight, sans-serif;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 0.75px;
      text-align: center;
      line-height: 52px; }
    .benefits-grid--desktop .benefits-grid__row .brand-colour-bg.yellow {
      margin-right: 50px; }
    .benefits-grid--desktop .benefits-grid__row .brand-colour-bg.blue {
      margin-left: 50px; }
    .benefits-grid--desktop .benefits-grid__row .brand-colour-bg.red {
      margin-right: 50px;
      margin-top: 50px; }
  .benefits-grid--desktop .benefits-grid__row .stock-image {
    min-width: 300px;
    min-height: 300px; }

.benefits-grid--mobile .benefits-grid__row .brand-colour-bg {
  width: 100%;
  height: 500px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center; }
  .benefits-grid--mobile .benefits-grid__row .brand-colour-bg h3 {
    max-width: 80%;
    font-family: Catamaran-ExtraLight, sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0.75px;
    text-align: center;
    line-height: 52px; }
    @media screen and (min-width: 840px) {
      .benefits-grid--mobile .benefits-grid__row .brand-colour-bg h3 {
        max-width: 50%; } }
.benefits-grid--mobile .benefits-grid__row .stock-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .benefits-grid--mobile .benefits-grid__row .stock-image.image-one {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/stockImages/image1.png"); }
  .benefits-grid--mobile .benefits-grid__row .stock-image.image-two {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/stockImages/image2.png"); }
  .benefits-grid--mobile .benefits-grid__row .stock-image.image-three {
    background-image: url("/Vena_DreamConfig/web/public/assets/images/stockImages/image3.png"); }

@media screen and (min-width: 840px) {
  section.technology-cta {
    position: relative;
    top: -100px; } }

section.learn-from-us {
  position: relative; }

.news__filter-container {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 840px) {
    .news__filter-container {
      justify-content: center; } }

.news__items--item-link {
  display: block;
  margin-bottom: 16px; }
  .news__items--item-link:hover .news__items--item-body {
    background-color: #0096D7; }
    .news__items--item-link:hover .news__items--item-body .category,
    .news__items--item-link:hover .news__items--item-body .title {
      color: #FFFFFF; }

.news__items--item-body {
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 2rem; }
  .news__items--item-body .category {
    color: #61AB46;
    font-family: Catamaran-Bold, sans-serif;
    font-size: 14px;
    line-height: 18px; }
  .news__items--item-body .post-date {
    font-family: Catamaran-Bold, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #C4C4C4; }

.news__pagination {
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  font-family: Catamaran-Bold, sans-serif;
  font-size: 14px;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  line-height: 28px;
  margin: 0 0.5rem; }
  .news__pagination .page-number {
    padding: 0.5rem 1rem;
    color: #545454; }
    .news__pagination .page-number.active, .news__pagination .page-number:hover {
      color: #61AB46; }

section.footer {
  background-color: #0096D7;
  position: relative;
  z-index: 1;
  overflow: hidden; }

.footer__contact-cta {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__contact-cta h2 {
    color: #FFFFFF; }

.footer__content__brand {
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__content__brand img {
    width: 159px;
    height: 48px; }

.footer__content {
  background-color: #FFFFFF;
  padding: 50px 1rem;
  border-radius: 10px 10px 0 0; }

.footer__content__link-list {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

.footer__newsletter-form label.form-label {
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 18px;
  color: #284578;
  letter-spacing: 0.42px;
  text-align: center;
  line-height: 28px; }
.footer__newsletter-form .form-input {
  border: 1px solid #284578;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
.footer__newsletter-form .input-group-btn {
  border: 1px solid #284578;
  background-color: #284578;
  color: #FFFFFF;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

/*# sourceMappingURL=main.css.map */
