.brand-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.brand-shape {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.brand-shape--blue {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/brandshape-blue.png');
  width: 110px;
  height: 180px;

  @media screen and (min-width: $medium-breakpoint) {
    width: 143px;
    height: 238px;
  }

  @media screen and (min-width: $xl-breakpoint) {
    width: 217px;
    height: 361px;
  }
}

.brand-shape--green {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/brandshape-green.png');
  width: 137px;
  height: 85px;

  @media screen and (min-width: $medium-breakpoint) {
    width: 181px;
    height: 111px;
  }

  @media screen and (min-width: $xl-breakpoint) {
    width: 275px;
    height: 169px;
  }
}

.brand-shape--yellow {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/brandshape-yellow.png');
  width: 100px;
  height: 182px;

  @media screen and (min-width: $medium-breakpoint) {
    width: 100px;
    height: 185px;
  }

  @media screen and (min-width: $xl-breakpoint) {
    width: 201px;
    height: 367px;
  }
}

.brand-shape--red {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/brandshape-red.png');
  width: 83px;
  height: 143px;

  @media screen and (min-width: $medium-breakpoint) {
    width: 83px;
    height: 155px;
  }

  @media screen and (min-width: $xl-breakpoint) {
    width: 166px;
    height: 289px;
  }
}

.brand-shape--footer {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/brandshape-footer-blue.png');
  width: 200px;
  height: 220px;

  @media screen and (min-width: $xl-breakpoint) {
    width: 288px;
    height: 308px;
  }
}

/* home hero */

.brand-shape--blue.brand-shape-hero-home {
  bottom: -25px;
  right: -50px;

  @media screen and (min-width: $medium-breakpoint) {
    bottom: -50px;
    right: 0;
  }
}

.brand-shape--red.brand-shape-hero-home {
  bottom: 0;
  left: -25px;

  @media screen and (min-width: $medium-breakpoint) {
    top: 40%;
    left: 0;
  }
}

.brand-shape--yellow.brand-shape-hero-home {
  top: -100px;
  right: -25px;

  @media screen and (min-width: $medium-breakpoint) {
    top: 10%;
    right: 0;
  }
}

.brand-shape--green.brand-shape-hero-home {
  top: 0;
  left: -50px;

  @media screen and (min-width: $medium-breakpoint) {
    top: 0;
    left: 30%;
  }
}

/* home about section */
.brand-shape--red.brand-shape-about-home {
  top: 50%;
  left: -50px;
  display: none;

  @media screen and (min-width: $medium-breakpoint) {
    display: block;
  }
}

.brand-shape--green.brand-shape-about-home {
  top: 33%;
  right: -55px;
  display: none;
  transform: rotate(90deg);

  @media screen and (min-width: $medium-breakpoint) {
    display: block;
  }
}

/* home global reach section */
.brand-shape--green.brand-shape-globalreach-home {
  bottom: 0;
  left: -55px;
  display: none;
  transform: rotate(270deg);

  @media screen and (min-width: $medium-breakpoint) {
    display: block;
  }
}

/* home benefits section */
.brand-shape--red.brand-shape-benefits-home {
  bottom: 0;
  right: 0;
  display: none;
  transform: rotate(180deg);
  z-index: 1;

  @media screen and (min-width: $medium-breakpoint) {
    display: block;
  }
}

.brand-shape--yellow.brand-shape-learnfromus-home {
  top: -35%;
  left: -50px;
  display: none;
  transform: rotate(180deg);

  @media screen and (min-width: $medium-breakpoint) {
    display: block;
  }
}

/* Footer */

.brand-shape--footer.brand-shape-footer {
  &.left {
    top: 30%;
    left: -10%;
    @media screen and (min-width: $medium-breakpoint) {
      top: 30%;
      left: -10%;
    }
  }
  &.top-left {
    top: -50px;
    left: -75px;
    @media screen and (min-width: $medium-breakpoint) {
      top: -40%;
      left: 15%;
    }
  }
  &.top-right {
    top: -75px;
    right: 0;
    transform: rotate(145deg);
    @media screen and (min-width: $medium-breakpoint) {
      top: -30%;
      right: 5%;
    }
  }
  &.right {
    top: 20%;
    right: -10%;
    @media screen and (min-width: $medium-breakpoint) {
      top: 50%;
      right: -50px;
    }
  }
}
