.brand-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 55px;
  font-family: $catamaran-regular;
  font-size: 18px;
  line-height: 30px;
  color: $white;

  &:hover {
    color: $white;
  }
}

.brand-btn--left {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/btn-bg-left.png');
  &:hover {
    background-image: url('/Vena_DreamConfig/web/public/assets/images/btn-bg-right.png');
  }
}

.brand-btn--right {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/btn-bg-right.png');
  &:hover {
    background-image: url('/Vena_DreamConfig/web/public/assets/images/btn-bg-left.png');
  }
}

.brand-btn--dark-blue {
  background-image: url('/Vena_DreamConfig/web/public/assets/images/btn-bg-dark-blue.png');
}

.news__buttons {
  background-color: $off-white;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  font-family: $catamaran-bold;
  font-size: 14px;
  color: $grey-dark;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  line-height: 28px;

  &:hover,
  &.active {
    color: $white;
    background-color: $vena-green;
  }

  &.filter__button {
    display: block;
    padding: 0.2rem 0.5rem 0;
    margin: 0 0.5rem 0.5rem 0;

    &.active {
      background-color: $vena-green;
      color: $white;
    }

    &:first-of-type {
      margin: 0 0.5rem 0.5rem 0;
    }
    &:last-of-type {
      margin: 0 0 0.5rem 0;
    }
  }
}
