/* Colours */

$vena-blue: #0096D7;
$vena-yellow: #F4D237;
$vena-green: #61AB46;
$vena-red: #EC1D25;
$blue-light: #2AA5DA;
$blue-dark: #284578;
$off-black: #232323;
$grey-dark: #545454;
$gray-mid: #A9A9A9;
$gray-light: #C4C4C4;
$off-white: #F7F7F7;
$white: #FFFFFF;

.brand-colour-bg {
  &.yellow {
    background-color: $vena-yellow;
  }
  &.blue {
    background-color: $vena-blue;
  }
  &.red {
    background-color: $vena-red;
  }
}
