/* Font Imports */

@font-face {
  font-family: 'Catamaran-Bold';
  src: url('./web/public/assets/fonts/Catamaran-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Catamaran-ExtraLight';
  src: url('./web/public/assets/fonts/Catamaran-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Catamaran-Medium';
  src: url('./web/public/assets/fonts/Catamaran-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Catamaran-Regular';
  src: url('./web/public/assets/fonts/Catamaran-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Catamaran-SemiBold';
  src: url('./web/public/assets/fonts/Catamaran-SemiBold.ttf') format('ttf');
}

$catamaran-bold: Catamaran-Bold, sans-serif;
$catamaran-extralight: Catamaran-ExtraLight, sans-serif;
$catamaran-medium: Catamaran-Medium, sans-serif;
$catamaran-regular: Catamaran-Regular, sans-serif;
$catamaran-semibold: Catamaran-SemiBold, sans-serif;

/* Fonts */

.font-hero {
  font-family: $catamaran-extralight;
  font-size: 36px;
  line-height: 70px;
  color: $blue-dark;
  letter-spacing: 1px;

  @media screen and (min-width: $medium-breakpoint) {
    font-size: 48px;
  }
}

.font-feature-bold {
  font-family: $catamaran-semibold;
  font-size: 36px;
  color: $grey-dark;
}

.font-feature-light {
  font-family: $catamaran-extralight;
  font-size: 36px;
  color: $grey-dark;
}

.font-h1 {
  font-family: $catamaran-semibold;
  font-size: 36px;
  line-height: 56px;
  color: $grey-dark;
  letter-spacing: 0.75px;
}

.font-h1-sub {
  font-family: $catamaran-regular;
  font-size: 20px;
  line-height: 32px;
  color: $grey-dark;
  letter-spacing: 0.42px;
}

.font-h2 {
  font-family: $catamaran-bold;
  font-size: 24px;
  line-height: 32px;
  color: $grey-dark;
  letter-spacing: 0.5px;
}

.font-nav-link {
  font-family: $catamaran-bold;
  font-size: 16px;
  color: $grey-dark;
  text-transform: uppercase;

  &:hover {
    color: $vena-blue;
  }
}

.font-footer-link {
  font-family: $catamaran-bold;
  font-size: 14px;
  color: $grey-dark;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  line-height: 28px;

  &:hover {
    color: $vena-blue;
  }
}

.font-form {
  font-family: $catamaran-regular;
  font-size: 15px;
  color: $grey-dark;
}

p {
  font-family: $catamaran-regular;
  font-size: 18px;
  line-height: 30px;
  color: $grey-dark;
  letter-spacing: 0.38px;
}
