// spectre.css breakpoints
$xs-breakpoint: 480px;
$small-breakpoint: 600px;
$medium-breakpoint: 840px;
$large-breakpoint: 960px;
$xl-breakpoint: 1280px;

.text-center {
  text-align: center;
}

/* Box model */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

/* Flex */
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
