.nav-primary {
  background-color: $white;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .navbar-brand {
    img {
      max-height: 37px;
    }
  }
}

.nav-links__link {
  padding: 1rem;
}

#burgerMenu {
  border: 1px solid $grey-dark;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;

  &:hover {
    background-color: $vena-yellow;
    cursor: pointer;
  }
}

.burger-menu__slice {
  width: 35px;
  height: 5px;
  background-color: $grey-dark;
  margin: 6px 0;
}

#mobileNav {
  background-color: $white;
  padding: 1rem 0;
  display: none;

  &.show {
    display: block;
  }

  .nav-links__link--mobile {
    display: block;
    padding: 0.25rem 0 0.25rem 1rem;
  }
}
