/* Import partials */
@import 'partials/_helpers.scss';
@import 'partials/_colours.scss';
@import 'partials/_fonts.scss';
@import 'partials/_buttons.scss';
@import 'partials/_brandshapes.scss';
@import 'partials/_nav.scss';

/* Defaults */

a, button {
  cursor: pointer;
}

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

/* Main */

.section-margin {
  margin-top: 100px;

  @media screen and (min-width: $medium-breakpoint) {
    margin-top: 200px;
  }
}

.section-margin--half {
  margin-top: 100px;
}

.section-heading {
  margin-bottom: 100px;
}

.section-animation {
  opacity: 0;
}

.animation {
  &.initial-opacity-0 {
    opacity: 0;
  }
}

.content-margin {
  margin-bottom: 100px;

  @media screen and (min-width: $medium-breakpoint) {
    margin-bottom: 200px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
}

.hero__content {
  text-align: center;
}

.hero--home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .brand-shapes {
    animation-name: hero-brandshapes-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes hero-brandshapes-fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.hero__content--home {

  .brand-logo {
    margin-bottom: 50px;
  }

  opacity: 0; // initially 0
  animation-name: hero-fade;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;

  @keyframes hero-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

section.about {
  position: relative;
}

.about__text-copy {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $medium-breakpoint) {
    display: block;
    text-align: left;
  }
}

section.associated-companies {
  background-color: $vena-yellow;
  padding: 100px 0;

  h2 {
    color: $white;
  }
}

.associated-companies__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.associated-companies__list--item {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 2rem;

    @media screen and (min-width: $medium-breakpoint) {
      margin-bottom: 0;
    }
  }
}

section.global-reach {
  position: relative;
}

.global-reach__list--item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  height: 360px;

  h2 {
    font-family: $catamaran-bold;
    font-size: 24px;
    color: #284578;
    letter-spacing: 0.5px;
    line-height: 28px;
  }

  .location-contact {
    font-family: $catamaran-bold;
    font-size: 18px;
    color: #545454;
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 28px;
  }

  .contact-position {
    font-family: $catamaran-regular;
    font-size: 14px;
    color: #545454;
    letter-spacing: 0.29px;
    text-align: center;
    line-height: 20px;
  }

  @keyframes country-hover-ascending {
    from {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/countryCard_asc.png');
    }
    to {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/countryCard_asc_hover.png');
    }
  }

  @keyframes country-hover-descending {
    from {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/countryCard_desc.png');
    }
    to {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/countryCard_dec_hover.png');
    }
  }

  .card-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.new-zealand {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/newzealand.png');
    }
    &.australia {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/australia.png');
    }
    &.singapore {
      background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/singapore.png');
    }
  }

  &.ascending {
    background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/countryCard_asc.png');
  }

  &.descending {
    background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/countryCard_desc.png');
  }

  &:hover {
    h2,
    .font-h1-sub,
    .location-contact,
    .contact-position {
      color: $white;
    }

    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &.ascending {
      animation-name: country-hover-ascending;
    }

    &.descending {
      animation-name: country-hover-descending;
    }

    .card-image {
      &.new-zealand,
      &.australia,
      &.singapore {
        background-image: url('/Vena_DreamConfig/web/public/assets/images/countries/newzealand-contact.png');
      }
    }
  }
}

section.technology-cta {
  background-color: $off-white;
  padding: 100px 0;
}

section.benefits {
  position: relative;
  z-index: 1;
}

.benefits-grid--desktop {
  .benefits-grid__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &.first {}

    &.second {
      top: -100px;

      .stock-image {
        position: relative;
        top: 50px;
      }
    }

    &.third {
      position: relative;
      top: -75px;
    }

    .brand-colour-bg {
      width: 500px;
      height: 500px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        max-width: 50%;
        font-family: $catamaran-extralight;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0.75px;
        text-align: center;
        line-height: 52px;
      }

      &.yellow {
        margin-right: 50px;
      }

      &.blue {
        margin-left: 50px;
      }

      &.red {
        margin-right: 50px;
        margin-top: 50px;
      }
    }

    .stock-image {
      min-width: 300px;
      min-height: 300px;
    }
  }
}

.benefits-grid--mobile {
  .benefits-grid__row {
    .brand-colour-bg {
      width: 100%;
      height: 500px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        max-width: 80%;
        font-family: $catamaran-extralight;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0.75px;
        text-align: center;
        line-height: 52px;

        @media screen and (min-width: $medium-breakpoint) {
          max-width: 50%;
        }
      }
    }

    .stock-image {
      width: 100%;
      height: 300px;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &.image-one {
        background-image: url('/Vena_DreamConfig/web/public/assets/images/stockImages/image1.png');
      }
      &.image-two {
        background-image: url('/Vena_DreamConfig/web/public/assets/images/stockImages/image2.png');
      }
      &.image-three {
        background-image: url('/Vena_DreamConfig/web/public/assets/images/stockImages/image3.png');
      }
    }
  }
}

section.technology-cta {
  @media screen and (min-width: $medium-breakpoint) {
    position: relative;
    top: -100px;
  }
}

section.learn-from-us {
  position: relative;
}

.news__filter-container {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $medium-breakpoint) {
    justify-content: center;
  }
}

.news__items--item-link {
  display: block;
  margin-bottom: 16px;

  &:hover {
    .news__items--item-body {
      background-color: $vena-blue;

      .category,
      .title {
        color: $white;
      }
    }
  }
}

.news__items--item-body {
  background-color: $off-white;
  border-radius: 3px;
  padding: 2rem;

  .category {
    color: $vena-green;
    font-family: $catamaran-bold;
    font-size: 14px;
    line-height: 18px;
  }

  .post-date {
    font-family: $catamaran-bold;
    font-size: 14px;
    line-height: 18px;
    color: $gray-light;
  }
}

.news__pagination {
  background-color: $off-white;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  font-family: $catamaran-bold;
  font-size: 14px;
  color: $grey-dark;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  line-height: 28px;
  margin: 0 0.5rem;

  .page-number {
    padding: 0.5rem 1rem;
    color: $grey-dark;

    &.active,
    &:hover {
      color: $vena-green;
    }
  }
}

section.footer {
  background-color: $vena-blue;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer__contact-cta {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: $white;
  }
}

.footer__content__brand {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 159px;
    height: 48px;
  }
}

.footer__content {
  background-color: $white;
  padding: 50px 1rem;
  border-radius: 10px 10px 0 0;
}

.footer__content__link-list {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__newsletter-form {

  label.form-label {
    font-family: $catamaran-extralight;
    font-size: 18px;
    color: $blue-dark;
    letter-spacing: 0.42px;
    text-align: center;
    line-height: 28px;
  }

  .form-input {
    border: 1px solid $blue-dark;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .input-group-btn {
    border: 1px solid $blue-dark;
    background-color: $blue-dark;
    color: $white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
